@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --gradient-right: rgba(248, 70, 180, 0.301);
  --gradient-left: rgba(9, 243, 99, 0.247);
  --gradient-background: rgba(46, 13, 36, 0.93);
  --gradient-background-right: rgba(70, 227, 248, 0);
  --gradient-background-left: rgba(239, 243, 9, 0.13);
  --color-showcase-header: rgba(57, 24, 61, 0.93);
  --gradient-showcase-header-left: rgba(20, 60, 68, 0.93);
  --btn-background: rgb(90, 40, 92);
  --btn-background-hover: rgb(100, 50, 102);
  --btn-outline: rgba(140, 90, 142);
}
body {
  margin: 0;
  padding: 0;
  padding-top: 50px;
  background-image: url('./assets/fondo.webm');

}
bdi {
  unicode-bidi: isolate;
}
.family{
  font-family: "Motiva Sans", Sans-serif;
  letter-spacing: 0.5px;
}
.blur-custom {
  filter: blur(1px);
 
}
.card {
  background-color: #101214;
  background-color: rgba( 0, 0, 0, 0.3 );
  backdrop-filter: blur(20px);
  border-radius: 3px;
}
.fondo {
  background: rgb(57, 24, 61, 0.93);
  background: linear-gradient(90deg, var(--gradient-showcase-header-left) 0%, var(--color-showcase-header) 90%);
  backdrop-filter: blur(20px);
  border-radius: 3px;
}

.video-background {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.menu-open {
  transform: translateX(0); /* Cambia la propiedad transform según tu diseño */
  transition: transform 0.5s ease-in-out; /* Ajusta la duración y la función de tiempo según tus preferencias */
}
.menu-open.active {
  transform: translateX(100%); /* Desplaza el menú hacia la derecha (ajusta el valor según tu diseño) */
}

.main-bg {
  background: radial-gradient(farthest-side at top right, var(--gradient-right), transparent 500px),
  radial-gradient(farthest-corner at top left, var(--gradient-left), transparent 600px),
  radial-gradient(farthest-corner at bottom right, var(--gradient-background-right), transparent 500px),
  radial-gradient(farthest-corner at bottom left, var(--gradient-background-left), transparent 600px);
background-color: var(--gradient-background);
margin-top: 0px;
overflow: hidden;

}
.tranparent{
  
  background-color: rgba(31,8,24,0.4);
}
.info_trasn{
  background-color: rgba(0,0,0,0.5);
}
.textArea{
  height: 38px;
}